Skip to content
 
Search…
All gists
Back to GitHub
Sign in
Sign up
Instantly share code, notes, and snippets.

@Klerith
Klerith/estilos-basicos.css
Created 8 months ago
8
3
 Code
 Revisions 1
 Stars 8
 Forks 3
<script src="https://gist.github.com/Klerith/3ddee04a27c09be05e888d5d4ac1d09f.js"></script>
Estilos básicos para la introducción de Angular
estilos-basicos.css
* {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 200;
}

html, body {
  
  background: white;
  margin: 20px;
  color: #3e4144;
  -webkit-font-smoothing: antialiased;
}


dd {
  font-weight: bold;
}

button {
  background-color: black;
  border-radius: 5px;
  border: 0px;
  color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}

button:hover {
  background-color: #3e4144;
}

button:focus{ 
  outline: none;
}

.p-1 {
  padding: 1px;
}
@jocaagura
jocaagura commented 10 days ago
:)

@xavierms
xavierms commented 5 days ago
👍

 to join this conversation on GitHub. Already have an account? Sign in to comment
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About

